<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li>Iteration 4: <a href="/celebrities">All Celebrities</a></li>
    <li>Iteration 3: <a href="/celebrities/create">Create a Celebrity</a></li>
    <li>Iteration 7: <a href="/movies">All Movies</a></li>
    <li>Iteration 6: <a href="/movies/create">Create a Movie</a></li>
</ul>